<div class="container mt-3">
  <div class="my-3 d-flex justify-content-between">
    <%= link_to 'Create a new category', new_category_path, class: "btn btn-success mb-3"%>
    <%= will_paginate @categories, list_classes: %w(pagination), renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    <div style="width:200px;">&nbsp</div>
  </div>
  <div class="card shadow mb-3 bg-white rounded">
    <h5 class="card-header font-italic">Categories</h5>
      <ul class="list-group">
        <% @categories.each do |category| %>
          <li class="list-group-item"><%= link_to category.name, category_path(category) %></li>
        <%end%>
      </ul>
  </div>
  <div class="my-3">
    <%= will_paginate @categories, list_classes: %w(pagination justify-content-center), renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</div>
