<div class="container">
  <div class="card shadow my-3 bg-white rounded">
    <div class="card-header py-4"></div>
    <div class="card-body">
      <h1 class="my-4 text-center"><%= @category.name%></h1>
      <%#if logged_in? && current_user.admin?) %>
      <%#=link_to 'Edit', edit_category_path(@category), class: "btn btn-outline-info"  %>
      <%#link_to 'Delete', category_path(@category), method: :delete, class: "btn btn-outline-danger" , data: { confirm: 'Are you sure you want to delete this category?'} %>
      <%#end%>
      <div class="text-center">
        <%= link_to 'Back to Category list', categories_path, class: "btn btn-outline-primary" %>
      </div>
    </div>
    <div class="card-footer">
      <small>Created <%= time_ago_in_words(@category.created_at)%> ago</small>
    </div>
  </div>
  <%= render 'articles/articles-list' %>
</div>
